.container{
    width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.box1{
    width: 45%;
    margin: auto;
}

.box1 .box1_1{
    width: 45%;
    margin: auto;
}

.box1 img{
    width: 100%;
}

.abc{
    text-align: center;
}

.box2{
    width: 30%;
    margin: auto;
}

.box3{
    width: 45%;
    margin: auto;
}

.box3 img{
    width: 100%;
}

.box4{
    width: 30%;
    margin: auto;
}

.box5{
    width: 45%;
    margin: auto;
}

.box5 .box5_1{
    width: 45%;
    margin: auto;
}

.box5 .box5_2{
    width: 45%;
    margin: auto;
}

.box5 .box5_3{
    width: 45%;
    margin: auto;
}

.box5_2 img{
    width: 100%;
}

.box5_3 img{
    width: 100%;
}
